$WHITE: #fff;

$GRAY_7: #fbfbfb;
$GRAY_6: #f8f8f8;
$GRAY_5: #bbb;
$GRAY_4: #eee;
$GRAY_3: #999;
$GRAY_2: #888;
$GRAY_1: #777;
$GRAY_0: #444;

$STATUS_NONE: #bdc3c7;
$STATUS_FAILED: #ec644b;
$STATUS_PASSED: #66cc99;

$PRIMARY_DARK: #455f9a;
$PRIMARY_MED: #5753c9;
$PRIMARY_LIGHT: #6e7ff3;

