@import "palette";

$NAVBAR_HEIGHT: 75px;
$NAVBAR_BACKGROUND: linear-gradient(225deg, $PRIMARY_DARK 0%, $PRIMARY_MED 48%, $PRIMARY_LIGHT 100%);
$NAVBAR_BORDER_COLOR: rgba(0, 0, 0, 0.04);
$NAVBAR_BORDER_WIDTH: 1px;

$SIDEBAR_WIDTH: 350px;

$WEIGHT_NORMAL: 400;
$WEIGHT_BOLD: 600;

$ARROW_SIZE: 40px;
$ARROW_MARGIN: 10px;
$ARROW_COLOR: #ededed;